/* extra omp-ui styles */
@import "@material/theme/mdc-theme";

/* primary colors */
$om-theme-primary-light: #9fa8da; /*indigo-200*/ /*#a4addf;*/
$om-mdc-theme-primary: #3f51b5; /* Indigo 500 */

/* primary light background */
.om-theme-primary-light-bg {
  background-color: $om-theme-primary-light;
}

/* monospace font */
.mono {
  font-family: Roboto Mono, Courier New, Courier, monospace;
}

/* medium font weight */
.medium-wt {
  font-weight: 500
}
.om-secondary-text {
  font-size: 0.875rem;
  color: rgba(0, 0, 0, 0.54);
  color: var(--mdc-theme-text-secondary-on-background, rgba(0, 0, 0, 0.54));
}

/* notes: a link or empty (not a link) */
.om-note-item {
  margin: 0 0.5rem 0 0;
}
.om-note-link {
  @extend .om-note-item;
  padding: 0 0 1px 0; /* for description material icon */
  &:hover {
    cursor: pointer;
    /* background: rgba(0, 0, 0, 0.1); */
  }
  @extend .mdc-theme--on-primary;
  @extend .mdc-theme--primary-bg;
}
.om-note-empty {
  @extend .om-note-item;
  cursor: default;
  @extend .mdc-theme--on-primary;
  @extend .om-theme-primary-light-bg;
}

/* cell material icon: a link or empty (non-link) */
.om-cell-icon {
  vertical-align: middle;
  margin-right: 0.25rem;
  padding-left: 0;
  padding-right: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.om-cell-icon-link {
  @extend .om-cell-icon;
  &:hover {
    cursor: pointer;
  }
  @extend .mdc-theme--on-primary;
  @extend .mdc-theme--primary-bg;
}
.om-cell-icon-empty {
  @extend .om-cell-icon;
  cursor: default;
  @extend .mdc-theme--on-primary;
  @extend .om-theme-primary-light-bg;
}
